Repository kubernetes-sigs/controller-runtime, pull requests merged in 2022-05, with the labels that each got.

#1885 :sparkles: Bump to k8s.io v1.24.0
  go.mod
  go.sum
  tools/setup-envtest/main.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1877 :sparkles: certwatcher: add metrics to monitor certificate reads
  pkg/certwatcher/certwatcher.go
  pkg/certwatcher/certwatcher_test.go
  pkg/certwatcher/metrics/metrics.go
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#1890 :seedling: enable errorlint and unused linters
  .golangci.yml
  pkg/cache/multi_namespace_cache.go
  pkg/client/config/config.go
  pkg/client/fake/client.go
  pkg/client/namespaced_client.go
  pkg/envtest/crd.go
  pkg/envtest/webhook.go
  pkg/finalizer/finalizer.go
  pkg/internal/testing/certs/tinyca.go
  pkg/internal/testing/process/arguments_test.go
  pkg/manager/internal.go
  pkg/manager/manager.go
  pkg/manager/manager_test.go
  pkg/source/source.go
  pkg/webhook/server.go
  tools/setup-envtest/remote/client.go
  tools/setup-envtest/store/store.go
  tools/setup-envtest/workflows/workflows_testutils_test.go
Labels: cncf-cla: yes, size/L, approved, lgtm, kind/cleanup, tide/merge-method-squash, ok-to-test

#1888 :seedling: do not use io/ioutil anymore
  .golangci.yml
  examples/scratch-env/main.go
  pkg/client/config/config_test.go
  pkg/config/config.go
  pkg/envtest/crd.go
  pkg/envtest/webhook.go
  pkg/internal/testing/controlplane/apiserver.go
  pkg/internal/testing/controlplane/auth.go
  pkg/internal/testing/controlplane/kubectl_test.go
  pkg/internal/testing/process/process.go
  pkg/internal/testing/process/process_test.go
  pkg/leaderelection/leader_election.go
  pkg/manager/manager_test.go
  pkg/webhook/admission/http.go
  pkg/webhook/authentication/http.go
  pkg/webhook/conversion/conversion_test.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
Labels: cncf-cla: yes, size/L, approved, needs-ok-to-test, lgtm, kind/cleanup

#1892 :book: Fix comment on ListOptions
  pkg/client/options.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#1891 🐛 Fix panic for lazy dynamicRESTMapper
  pkg/client/apiutil/apiutil_suite_test.go
  pkg/client/apiutil/dynamicrestmapper.go
  pkg/client/apiutil/dynamicrestmapper_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm

#1889 :bug: Avoid nilref when copying leader election options from custom config
  pkg/manager/manager.go
  pkg/manager/manager_options_test.go
  pkg/manager/testdata/custom-config.yaml
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash, ok-to-test

#1898 :book: add info about release process
  RELEASE.md
Labels: cncf-cla: yes, size/M, approved, lgtm

#1904 :bug: fix loading CRDs from multiple directories in envtests
  pkg/envtest/crd.go
  pkg/envtest/crd_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1897 :sparkles: Allow TLS to be entirely configured on webhook server
  pkg/webhook/server.go
  pkg/webhook/server_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1765 :bug: skip mutation handler when received deletion verb
  pkg/webhook/admission/defaulter.go
  pkg/webhook/admission/defaulter_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1907 :bug: don't override global log in builder
  pkg/builder/controller.go
Labels: cncf-cla: yes, approved, needs-ok-to-test, size/XS, lgtm

#1910 :bug: Fix issue with starting multiple test envs
  pkg/internal/testing/addr/manager.go
Labels: cncf-cla: yes, approved, size/S, lgtm, ok-to-test

#1903 📖 Fix comment on LeaderElectionResourceLock
  pkg/manager/manager.go
Labels: cncf-cla: yes, size/M, approved, lgtm
