Repository kubernetes-sigs/controller-runtime, pull requests merged in 2022-04, with the labels that each got.

#1800 Try a temporary directory if the user cache fails
  pkg/internal/testing/addr/manager.go
Labels: cncf-cla: yes, approved, size/S, lgtm, ok-to-test

#1858 🌱 Log all errors from cache.GetInformer call
  pkg/source/source.go
Labels: cncf-cla: yes, approved, needs-ok-to-test, size/XS, lgtm

#1856 :bug: zap-time-encoding test should allow negative tz offset
  pkg/log/zap/zap_test.go
Labels: cncf-cla: yes, approved, needs-ok-to-test, size/XS, lgtm

#1862 🐛 pkg: envtest: komega: fix UpdateStatus & typos in godoc
  pkg/envtest/komega/default.go
  pkg/envtest/komega/interfaces.go
Labels: cncf-cla: yes, approved, size/S, needs-ok-to-test, lgtm

#1868 :running: Update golangci-lint to 1.45.2
  .github/workflows/golangci-lint.yml
  .golangci.yml
  pkg/certwatcher/certwatcher_test.go
  pkg/client/client_test.go
  pkg/client/fake/client.go
  pkg/client/metadata_client.go
  pkg/client/unstructured_client.go
  pkg/client/watch.go
  pkg/envtest/crd.go
  pkg/internal/flock/flock_unix.go
  pkg/manager/signals/signal_posix.go
  tools/setup-envtest/workflows/workflows_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm

#1864 ✨ update client-go to 1.24-beta
  go.mod
  go.sum
  pkg/controller/controllertest/util.go
  pkg/manager/manager_test.go
Labels: cncf-cla: yes, size/L, approved, lgtm

#1636 ✨return a bool from AddFinalizer and RemoveFinalizer
  pkg/controller/controllerutil/controllerutil.go
  pkg/controller/controllerutil/controllerutil_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1805 ✨ Add TransformFuncByObject Option for Informer Cache
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/cache/internal/deleg_map.go
  pkg/cache/internal/informers_map.go
  pkg/cache/internal/transformers.go
Labels: cncf-cla: yes, size/L, approved, lgtm, tide/merge-method-squash, ok-to-test

#1873 :warning: make fake client delete operations honor dry run opt
  pkg/client/fake/client.go
  pkg/client/fake/client_test.go
Labels: cncf-cla: yes, size/M, approved, needs-ok-to-test, lgtm

#1863 ✨ Improve the fake client builder with WithObjectTracker option
  pkg/client/fake/client.go
  pkg/client/fake/client_test.go
Labels: cncf-cla: yes, size/M, approved, needs-ok-to-test, lgtm, tide/merge-method-squash

#1879 ✨ Bump to k8s.io v1.24.0-rc.1
  go.mod
  go.sum
Labels: cncf-cla: yes, size/M, approved, lgtm

#1880 🌱 Bump linters to Go 1.18
  .golangci.yml
Labels: cncf-cla: yes, approved, size/XS, lgtm
