Repository kubernetes-sigs/controller-runtime, pull requests merged in 2022-01, with the labels that each got.

#1750 :bug: Cleanup if envtest controlplane fails to start
  pkg/internal/testing/controlplane/plane.go
Labels: cncf-cla: yes, approved, size/S, lgtm, ok-to-test

#1756 :book: update links to godoc.org to use pkg.go.dev
  FAQ.md
  README.md
  designs/README.md
  designs/component-config.md
  doc.go
  pkg/client/fake/client.go
  pkg/controller/controllerutil/controllerutil.go
  pkg/log/deleg.go
  pkg/log/log.go
  pkg/log/warning_handler.go
  pkg/log/zap/zap.go
  tools/setup-envtest/store/store.go
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash, ok-to-test

#1775 🐛 Trim List if List GVK is provided
  pkg/cache/informer_cache.go
Labels: cncf-cla: yes, approved, needs-ok-to-test, size/XS, lgtm

#1777 :sparkles: Bump go in setup-envtest
  tools/setup-envtest/go.mod
Labels: cncf-cla: yes, approved, size/S, lgtm

#1780 :book: Fix a typo
  pkg/internal/testing/controlplane/etcd.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#1773 ⚠ leaderelection: use 'leases' as default resource lock object
  pkg/leaderelection/leader_election.go
  pkg/manager/manager_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm
