Repository kubernetes-sigs/controller-runtime, pull requests merged in 2023-09, with the labels that each got.

#2466 [release-0.16] 🐛 Add corev1, coordinationv1 scheme for leader election when LeaderElection manager option is true
  pkg/manager/manager.go
  pkg/manager/manager_test.go
Labels: cncf-cla: yes, approved, size/S, needs-ok-to-test, lgtm

#2464 🐛 Use http client from leaderElectionConfig
  pkg/manager/manager.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#2480 🐛 Default namespace only for namespaced object
  pkg/cache/cache.go
  pkg/cache/cache_test.go
Labels: cncf-cla: yes, size/M, approved, needs-ok-to-test, lgtm, tide/merge-method-squash

#2479 🐛 Do not update anything but status when using subresource client
  pkg/client/fake/client.go
  pkg/client/fake/client_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash

#2484 :bug: Fix status subresource getting updated on Update when it is empty
  pkg/client/fake/client.go
  pkg/client/fake/client_test.go
Labels: cncf-cla: yes, approved, size/S, lgtm

#2489 :bug: Fix returning object after status update
  pkg/client/fake/client.go
  pkg/client/fake/client_test.go
  pkg/client/interfaces.go
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash

#2472 :bug: Return NoResourceMatchError when appropriate for backwards compatibility.
  pkg/client/apiutil/errors.go
  pkg/client/apiutil/restmapper.go
  pkg/client/apiutil/restmapper_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#2491 [release-0.14] 🐛 inherited defaults not respected in cache BuilderWithOptions
  pkg/cache/cache.go
  pkg/cache/cache_unit_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#2507 🐛Update dependency go-restful to 3.11.0
  examples/scratch-env/go.sum
  go.mod
  go.sum
Labels: cncf-cla: yes, approved, size/XS, lgtm

#2508 🐛 Correctly identify if patch call was made on status
  pkg/client/fake/client.go
  pkg/client/fake/client_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#2494 ✨ SetErrorWatchHandler on SharedIndexInformer
  pkg/cache/cache.go
  pkg/cache/internal/informers.go
Labels: cncf-cla: yes, approved, size/S, lgtm, tide/merge-method-squash

#2498 :book: Add more examples in documentation
  example_test.go
  pkg/builder/example_test.go
  pkg/client/example_test.go
  pkg/handler/example_test.go
Labels: cncf-cla: yes, size/L, approved, lgtm, tide/merge-method-squash, ok-to-test
