Repository kubernetes-sigs/controller-runtime, pull requests merged in 2024-06, with the labels that each got.

#2847 ✨ controllerutil: configure BlockOwnerDeletion when setting OwnerReference
  pkg/controller/controllerutil/controllerutil.go
  pkg/controller/controllerutil/controllerutil_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#2849 :book: Add setup-envtest Instructions for Go < 1.22
  tools/setup-envtest/README.md
Labels: cncf-cla: yes, approved, needs-ok-to-test, size/XS, lgtm

#2856 🌱 dependabot: remove go modules bumps, bump all actions at once
  .github/dependabot.yml
Labels: cncf-cla: yes, size/M, approved, lgtm

#2863 :book: Document that indexes can be added after Informer was started
  pkg/cache/cache.go
Labels: cncf-cla: yes, approved, size/XS, lgtm
